.track-list{

    background-color: #29262a;
    padding: 1%;
    margin-left: 2em;
    margin-right: 1em;
    border-radius: 20px;
    box-sizing: border-box;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    max-width: 100%;
    /* height: 90%; */
    height: 90vh;
    flex-grow: 10;

    padding-bottom: 20px;
    border-top-left-radius: 0px;   
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 0%;


}
.track-list::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.track-list {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.track-container{
    display: flex;
    gap: .2em;
    /* background-color: #1b1b1d; */
    margin-top:12px;
    margin-bottom: 12px;
    height: fit-content;
    /* border-radius: 20px; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* padding: 15px; */
    align-items: center;
    /* height: 130px; */
}
.track-container:hover{
    background-color: #503a6b1f;
    cursor: pointer;
}

.track-container * {
    pointer-events: none;
}

.track-container.active{
    background-color: #503a6b1f;
}
.track-list-header
{
    display: flex;
    /* background-color: #DD4C58; */
    width: 120%;
    position: relative;
    right: 38px;
    bottom: 39px;
}
.track-list-header span
{
    font-size: xx-large;
    line-height: 35px;
}

.track-list-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
}

.track-list-text span{
    font-weight: 600;
    color:  #ededed;
    /* width: 50%; */
}
.track-list-img{
    width: 200px;
}
.track-list .track-img img{
    width: 130px;
    /* height: 100; */
}

.track-list .track-text h1{
    color: #ededed;

    font-size: large;
}
.track-list .track-text{
    padding: 1%;
    font-size: normal;
    color: #b5b1b1;
}


.infinite-scroll-component__outerdiv{
    flex-grow: 6;
    height: 90%;
 
    overflow-x: hidden;
    /* flex-shrink: 0; */
}


.track-placeholder{
    margin-top: 38%;
    margin-bottom: auto;
    background-color: #1b1b1d;
    padding: 18%;
    border-radius: 20px;
    margin-left: 2%;
    }
    
.track-placeholder p {
    text-align: center;
    font-size: large;
    color: #b5b1b1;

}

@media screen and (max-width: 920px ) {
    .track-list .track-text h1{
        color: #ededed;
    
        font-size: large;
    }
}