.side-bar{
    background-color: #8c35ff;
    padding: 2%;
    margin-left: 2em;
    margin-right: 1em;
    border-radius: 20px;
    /* border-top-right-radius: 5%;
    border-top-left-radius: 5%; */
    /* height: fit-content; */
    box-sizing: border-box;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    /* flex-grow: 1; */
    /* max-height: 110vh; */
    /* overflow-y: scroll; */
    height: 90vh;
    overflow-y: scroll;
}